*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}



body {
  
    font-family: 'Nunito Sans', sans-serif;
    background: #f0f0f0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    font-weight: 300;
  }

  

  nav{
    background: #fff;
    box-shadow: #f0f0f0;
  }

  a{
    text-decoration:none ;
    color: inherit;
  }

 
 form{
  padding: 2rem 0;
 }

  form,
  .nav-content{
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    padding:1.5rem 0;
  }

  .nav-content{
    align-items: center;
  }

  .container {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 1rem;
    width:1300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: .4rem;
    
  }
  
  
  .card {
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    width:250px;
    margin:  2rem 0;
    border-radius: 5px;
    object-fit:contain;
    height: 340px;
    background: var(--color-card);
  }

  


  
  .card img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 7 / 4; 
}

  
  .card h3 {
    font-size: 1.20rem;
    margin: 0.5rem;
    font-weight: 600;
  }
  
  .card p {
    margin: 0.5rem;
    font-size: 0.9rem;
   
  }
  
  .card p strong {
    font-weight:300;
 
  }

  .card p{
    font-size: .8rem;
    font-weight: 600;
  }

  .card h3,
  .card p{
    padding:0.4rem;
  }

.btn__theme {
  margin-right:.3rem;
  font-size:1.1rem;
}

.clear-btn{
  cursor: pointer;
}


.no__country{
  font-size:1rem;
  margin: 4rem 0;
}



@media(max-width:65rem){
  body{
   
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
  }

  .container{
    
    grid-template-columns:1fr;
   width: 100%;
   padding: 0 1rem;
  }


    .card {
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    width:100%;
    margin:  2rem 0;
    border-radius: 5px;
    object-fit:contain;
    height:auto;
    background: var(--color-card);
  }

  .card img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 7 / 4;
  }


  .container-form{
    display: flex;
    flex-direction: column;
  }

  .container-form .search-container{
    width: 100%;
  }


  .container-form,
  .nav-content{
    padding:1.5rem 1rem;
   
  }

  .nav-content h2{
    font-size:1rem;
  }



  
  .container-form{
    gap: 2rem;
  
  }


  .container__details{
    padding:1rem 1rem;
  }
 
}


  