*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}



body {
    font-family: 'Inter', 'Helvetica', 'Segoe UI', Arial, sans-serif;
    background: #f0f0f0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
  }

  

  nav{
    background: #fff;
  }

  a{
    text-decoration:none ;
    color: inherit;
  }

 
 form{

  padding: 2rem 0;
 }

  form,
  .nav-content{
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    padding:1.5rem 0;
  }

  
  
  
  
  .container {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 1rem;
    width:1300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: .4rem;
    
  }
  
  
  .card {
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    width:250px;
    margin:  2rem 0;
    border-radius: 5px;
     object-fit:contain;
     height: 340px;
  }


  
  .card img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 7 / 4; 
}

  
  .card h3 {
    font-size: 1.20rem;
    margin: 0.5rem;
    
  }
  
  .card p {
    margin: 0.5rem;
    font-size: 0.9rem;
    font-weight: 800;
  }
  
  .card p strong {
    font-weight:50;
    
  }

  .card h3,
  .card p{
    padding:0.4rem;
  }
  